<div class="container">
    <br>
    <button class="btn btn-primary" (click) = "setAddAction(); openStudentModalForm(studentModal)">ADD STUDENT</button>
    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roll No</th>
            <th>Age</th>
            <th>Email</th>
            <th>Date</th>
            <th>DateTime</th>
            <th>Gender</th>
            <th>Update Student</th>
            <th>Delete Student</th>
        </tr>
        <tr *ngFor="let student of students">
            <td [innerHtml]="student.id"></td>
            <td [innerHtml]="student.name"></td>
            <td [innerHtml]="student.rollNo"></td>
            <td [innerHtml]="student.age"></td>
            <td [innerHtml]="student.email"></td>
            <td [innerHtml]="student.date"></td>
            <td [innerHtml]="student.dateTime"></td>
            <td [innerHtml]="student.isMale"></td>
            <td><button class="btn btn-outline-warning" (click) = "prepopulate(student.id); openStudentModalForm(studentModal)" >UPDATE</button></td>
            <td><a class="btn btn-outline-danger" (click)='deleteStudent(student.id)'>Delete</a></td>
        </tr>
    </table>
    
    <ng-template #studentModal let-modal>
    
        <div class="modal-header">
            <h4 class="modal-title">{{addOrUpdateAction | uppercase}} FORM</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    
        <div class="modal-body">
            
            <form [formGroup]="studentForm">
    
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="nameId" >Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nameId" formControlName="name" required>
                        <div class="text-danger" *ngIf="studentForm.get('name').invalid && (studentForm.get('name').dirty || studentForm.get('name').touched)">
                            <div *ngIf="studentForm.get('name').errors.required">Please enter Student Name</div>
                            <div *ngIf="studentForm.get('name').errors.pattern">Name enter should only consist of characters only</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="rollNoId">Roll No.</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="rollNoId" formControlName="rollNo"> 
                    </div>
                    <!-- <div class="text-danger" *ngIf="studentForm.get('rollNo').invalid && (studentForm.get('rollNo').dirty || studentForm.get('rollNo').touched)">
                        <div *ngIf="studentForm.get('rollNo').errors.required">Please enter Roll No</div>
                    </div> -->
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="ageId">Age</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="ageId" formControlName="age">
                    </div>
                    <!-- <div class="text-danger" *ngIf="studentForm.get('age').invalid && (studentForm.get('age').dirty || studentForm.get('age').touched)">
                        <div *ngIf="studentForm.get('age').errors.required">Please enter Age</div>
                    </div> -->
                </div> 
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="dateId" >Date</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="dateId" formControlName="date">
                    </div>
                    <!-- <div class="text-danger" *ngIf="studentForm.get('date').invalid && (studentForm.get('date').dirty || studentForm.get('date').touched)">
                        <div *ngIf="studentForm.get('name').errors.required">Date is required</div>
                    </div> -->
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="dateTimId" >Date With Time</label>
                    <div class="col-sm-6">
                        <input type="datetime-local" class="form-control" id="dateTimId" formControlName="dateTime" step="1">
                    </div>
                    <!-- <div class="text-danger" *ngIf="studentForm.get('dateTime').invalid && (studentForm.get('dateTime').dirty || studentForm.get('dateTime').touched)">
                        <div *ngIf="studentForm.get('dateTime').errors.required">Date and time is required</div>
                    </div> -->
                </div>              
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="emailId" >Email</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="emailId" formControlName="email">
                        <div class="text-danger" *ngIf="studentForm.get('email').invalid && (studentForm.get('email').dirty || studentForm.get('email').touched)">
                            <div *ngIf="studentForm.get('email').errors.required">Please enter Email</div>
                            <div *ngIf="studentForm.get('email').errors.pattern">Email ID is not valid</div>
                        </div>
                    </div>
                </div>               
                <fieldset class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" >Gender</label>
                        <div class="col-sm-3" [style.margin-top] = "'5px'" [style.text-align] = "'center'">
                            <span >
                                <label>Male</label>&nbsp;
                                <input type="radio" name="gender" [value] = true formControlName="gender">
                            </span>
                        </div>
                        <div class="col-sm-3" [style.margin-top] = "'5px'" [style.text-align] = "'left'">
                            <span>
                                <label>Female</label>&nbsp;
                                <input type="radio" name="gender" [value] = false formControlName="gender">
                            </span>
                        </div>
                    </div>
                </fieldset>   

                <div>{{studentForm.valid}}</div>

                <div class="form-group">
                    <button [disabled]="!studentForm.valid" id = "submitButtonId" class="btn btn-primary" type="submit" (click) = "validate()">SUBMIT</button>
                </div>
                
            </form>
        </div>
    
    </ng-template>
</div>