<div class="container">
    <button class="btn btn-primary" (click) = "setAddAction(); openStudentModalForm(studentModal)">ADD STUDENT</button>

    <br>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roll No</th>
            <th>Age</th>
            <th>Email</th>
            <th>Date</th>
            <th>Gender</th>
            <th>Update Student</th>
            <th>Delete Student</th>
        </tr>
        <tr *ngFor="let student of students">
            <td [innerHtml]="student.id"></td>
            <td [innerHtml]="student.name"></td>
            <td [innerHtml]="student.rollNo"></td>
            <td [innerHtml]="student.age"></td>
            <td [innerHtml]="student.email"></td>
            <td [innerHtml]="student.date"></td>
            <td [innerHtml]="student.isMale"></td>
            <td><button class="btn btn-outline-warning" (click) = "prepopulate(student.id); openStudentModalForm(studentModal)" >UPDATE</button></td>
            <td><a class="btn btn-outline-danger" (click)='deleteStudent(student.id)'>Delete</a></td>
        </tr>
    </table>
    
    <ng-template #studentModal let-modal>
    
        <div class="modal-header">
            <h4 class="modal-title">{{addOrUpdateAction | uppercase}} FORM</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    
        <div class="modal-body">
            
            <form [formGroup]="studentForm">
    
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="nameId" >Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nameId" formControlName="name" required>
                    </div>
                    <div class="col-sm-4">
                        <span *ngIf = "studentForm.get('name').invalid && (studentForm.get('name').dirty || studentForm.get('name').touched)" [class] = "'required'">
                            <span *ngIf="studentForm.get('name').errors.required">Name is required</span>
                            <span *ngIf="studentForm.get('name').errors.pattern">Name can only contain alphabets</span>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="rollNoId">Roll No.</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="rollNoId" formControlName="rollNo"> 
                    </div>
                    <div class="col-sm-4">
                        <span *ngIf = "studentForm.get('rollNo').invalid && (studentForm.get('rollNo').dirty || studentForm.get('rollNo').touched)" [class] = "'required'">RollNo is required</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="dateId" >Date</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="dateId" formControlName="date" (change) = "dobChange()" required>
                    </div>
                    <div class="col-sm-4">
                        <span *ngIf = "studentForm.get('date').invalid && (studentForm.get('date').dirty || studentForm.get('date').touched)" [class] = "'required'">Date is required</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="ageId">Age</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="ageId" formControlName="age" required>
                    </div>
                    <div class="col-sm-4">
                        <span *ngIf = "studentForm.get('age').invalid && (studentForm.get('age').dirty || studentForm.get('age').touched)" [class] = "'required'">Age is required</span>
                    </div>
                </div>               
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="emailId" >Email</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="emailId" formControlName="email" required>
                    </div>
                    <div class="col-sm-4">
                        <span *ngIf = "studentForm.get('email').invalid && (studentForm.get('email').dirty || studentForm.get('email').touched)" [class] = "'required'">
                            <span *ngIf="studentForm.get('email').errors.required">Email is required</span>
                            <span *ngIf="studentForm.get('email').errors.email">The email address must contain at least the '@' and the '.' character</span>
                        </span>
                    </div>
                </div>               
                <fieldset class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" >Gender</label>
                        <div class="col-sm-3" [style.margin-top] = "'5px'" [style.text-align] = "'center'">
                            <span >
                                <label>Male</label>
                                <input type="radio" name="gender" [value] = true formControlName="gender" required>
                            </span>
                        </div>
                        <div class="col-sm-3" [style.margin-top] = "'5px'" [style.text-align] = "'left'">
                            <span>
                                <label>Female</label>
                                <input type="radio" name="gender" [value] = false formControlName="gender" required>
                            </span>
                        </div>                           
                        <div class="col-sm-4">
                            <div *ngIf="addOrUpdateAction == 'add'">
                                <span *ngIf = "studentForm.get('gender').invalid && studentForm.get('gender').dirty" [class] = "'required'">Gender is required</span>
                            </div>
                        </div>
                    </div>
                </fieldset>    
                <div class="form-group">
                    <button [disabled]="!studentForm.valid || !studentForm.dirty" id = "submitButtonId" class="btn btn-primary" type="submit" (click) = "validate()"  data-dismiss="modal">SUBMIT</button>
                </div>
                
            </form>
        </div>
    
    </ng-template>
</div>